:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.5em;
  line-height: 0.1;
  color: azure;
  padding-bottom: 0.5em;
}

p{
  font-size: 1em;
  line-height: 0.1;
  color: azure;
  padding-bottom: 0.5em;
}

#weather{
  width: 500px;
  height: 600px;
  background-color: rgb(40, 40, 71);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

#weather .pairi img {
  width: 8em;
}

#weather .pairi{
  margin-top: -1em;
}